
input{
    margin-bottom: 15px;
}

.error-messages{
color: red;
}

.form-container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -70%);
    padding: 30px;
    border-radius: 20px;
}

h4{
    padding-bottom: 20px;
}

