.onibus-lista-container{
    padding-bottom: 16px;
    height: calc(100vh - 100px);
    overflow-y: scroll ;
    overflow-x: hidden;
}

.card{
    padding: 0px 0px 16px 0px; 
    
}

.titulo{
    color: 0a2342;
    font-weight: bold;
}