#button-confirm{
    margin-right: 5px;
}

table{
    text-align: center;
}

h3{
    padding: 20px 0px 20px 35px;
}

body{
    background-color: #2a2e33;
    color: white;
    font-family: sans-serif;
}

