#button-confirm{
    margin-right: 5px;
}

.table {
    text-align: center;
    height: calc(100% - 70px);
    margin-bottom: 0px!important;
}

h3{
    padding: 20px 0px 20px 35px;
}


.fas{
    color: black;

}

.newRequestsAlert{
    background-color: rgb(151, 5, 5);
    position: fixed;
    left: 50%;
    right: 0;
    bottom: 0px;
    margin: auto;
    padding: 6px;
    padding-right: 25px;
    color: white;
    visibility: visible;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    visibility: hidden;
    opacity: 0;
    transform: translateX(-50%);
    transition: opacity 0.5s, bottom 0.5s, visibility 0.5s;
}

.content-toast{
    display: inline-block;
}

.close-icon{
    position: absolute;
    right: 5px;
    top: 5px;
}

.toast--visible{
    bottom:20px;
    opacity: 1;
    visibility: visible;
}

.button{
    height: 30px;
}