.foto-usuario{
    height: 50px;
    width: 50px;
    border-radius: 25px;
    object-fit: cover;
}

.foto-usuario.invisible{
    height: 50px;
    width: 50px;
    border-radius: 25px;
    object-fit: cover;
}