html, body{
    overflow-y: visible;
}

.foto-usuario{
    border-radius: 75px;
    object-fit: cover;
}

.container-usuario{
    padding-top: 32px;
}

label{
    font-weight: bold;
}

.container-matricula {
    height: auto;
}

.container-matricula.active{
    height: 100%;
}

.matricula-header hr{
    padding: 0px;
    margin: 0px 0px 16px 0px;

}

.container-usuario-foto{
    text-align: center;
}

.container-pdf{
    display: none;
    height: 0%;
    transition: 0.3s;  
}

.container-pdf.active{
    height: 100%;
    display: block;
}

.container-pdf.active ~ .container-matricula{
    height: 0px;
}

