.foto-usuario{
    border-radius: 75px;
}

.container-usuario{
    padding-top: 32px;
}

label{
    font-weight: bold;
}

.container-pdf{
    height: 100%;
}

.matricula-header hr{
    padding: 0px;
    margin: 0px 0px 16px 0px;

}