<!DOCTYPE html>
<html lang="eng">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="https://kit.fontawesome.com/8b48b3749a.js" crossorigin="anonymous"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.5/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.5/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.5/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.7.1/firebase-firestore.js"></script>
    <script src="{% static 'login/js/firebase-config.js' %}"></script>
    <script crossorigin src="https://unpkg.com/react@17/umd/react.production.min.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js"></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>

    <script src="{% static 'login/js/sidebar.js' %}"></script>

    <!-- booststrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <!-- Load Font Awesome -->
    <script type="text/javascript"> (function() { var css = document.createElement('link'); css.href = 'https://use.fontawesome.com/releases/v5.1.0/css/all.css'; css.rel = 'stylesheet'; css.type = 'text/css'; document.getElementsByTagName('head')[0].appendChild(css); })(); </script>
    <!-- Box Icons CDN -->
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>

    <!-- import css -->
    <link href="https://cdn.jsdelivr.net/npm/siiimple-toast/dist/style.css" rel="stylesheet">

    <!-- jQuery-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    
    <!-- jQuery MASK-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clockpicker/0.0.7/jquery-clockpicker.min.js"></script>
<link href='https://cdnjs.cloudflare.com/ajax/libs/clockpicker/0.0.7/bootstrap-clockpicker.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'login/css/styles.css' %}">
    {% block head %}
    {% endblock %}

    <title>GoToSchool</title>
</head>
<body class="">
      <div class="sidebar">
        <div class="logo_content">
          <div class="logo">
            <i class='bx bxs-bus' ></i>
            <span class="logo_name">GoToSchool</span>
          </div>
         
            <i class='bx bx-menu'id="btn" ></i>
          
          <hr>
        </div>
        <ul class="nav_list">
            <li>
              <a class="nav-link active" aria-current="page" href="{% url 'index' %}">
                <i class='bx bxs-home'  ></i>
                <span class="links_name">Home</span>
              </a>
            </li>
            <li>
              <a class="nav-link" href="{% url 'requisicoes' %}">
                <i class='bx bx-task' ></i>
                <span class="links_name">Requisições</span>
              </a>
            </li>
            <li>
              <a class="nav-link" href="{% url 'usuarios' %}">
                <i class='bx bxs-user' ></i>
                <span class="links_name">Usuários</span>
              </a>
            </li>
            <li>
              <a class="nav-link" href="{% url 'avisos' %}">
                <i class='bx bxs-message-dots'></i>
                <span class="links_name">Avisos</span>
              </a>
            </li>
            <li>
              <a class="nav-link" href="{% url 'motoristas' %}">
                <i class='bx bxs-user' ></i>
                <span class="links_name">Motoristas</span>
              </a>
            </li>
            <li>
              <a class="nav-link" href="{% url 'onibus' %}">
                <i class='bx bxs-bus' ></i>
                <span class="links_name">Cadastrar Ônibus</span>
              </a>
            </li>
            <li>
              <a class="nav-link" href="{% url 'novidades' %}">
                <i class='bx bxs-news' ></i>
                <span class="links_name">Add Novidades</span>
              </a>
            </li>
            <li>
              <a class="nav-link" href="{% url 'ouvidoria' %}">
                <i class='bx bxs-envelope' ></i>
                <span class="links_name">Ouvidoria</span>
              </a>
            </li>
         {% if user.is_superuser %}
            <li>
              <a class="nav-link" href="{% url 'cadastrar-staff' %}">
                <i class='bx bxs-user-plus' ></i>
                <span class="links_name">Administradores</span>
              </a>
            </li>
         {% endif %}
            <div class="log-out">
              <li>
                <a class="nav-link" href="{% url 'logout' %}">
                  <i class='bx bx-log-out' ></i>
                  <span class="links_name">Sair</span>
                </a>
              </li>
            </div>
      </ul>
      </div>

      <div class="body_content">
        <div class="header-page">
          <h2>{{title}}</h2>
          <hr>
        </div>
        {% block body %}
        {% endblock %}
      </div>
        

</body>
{% if messages %}
  <script>
    document.querySelector(".mensagem-login").style = {"padding-bottom": "0px"};
  </script>
{% endif %}

{% block javascript %}
{% endblock %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</html>