{% extends "login/layout.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'login/css/novidades.css' %}"></link>
{% endblock %}

{% block body %}



<div class="container-fluid">
    <div class="row">
        <div class="card novidades-container col-12 col-sm-5 m-2">
        </div>

        <div class="card col m-2">
            <div class="card-header text-center">
              Adicionar novidade
            </div>
            <div class="card-body ">
                <form method="POST" class="" id="editar-dados-usuario">
                    {% csrf_token %}
                    {% for field in form %}
                    
                        {% for error in field.errors %}
                        <div class="error-messages text-danger">
                            {{ error }}
                        </div> 
                        {%endfor%}
                        <div class="form-group">
                            {{field.label_tag}}
                            {{field}}
                        </div>
                    {% endfor %}
                    <div class="row flex-row justify-content-end">
                        <div class="col-12 col-sm-12 col-md-6 d-grid mt-3">
                            <button type="submit" class="btn btn-primary">Adicionar</button>
                        </div>
                    </div>
                </form>
            </div>
          </div>

        
    </div>
</div>

<script>
    if ( window.history.replaceState ) {
            window.history.replaceState( null, null, window.location.href );
        }

    const novidadesContainer = document.querySelector('.novidades-container');
    const novidadesString = (("{{novidades}}")).replace(/&(l|g|quo|&#x27)t;/g, function(a,b){
                return {
                    l   : '<',
                    g   : '>',
                    quo : '"',
                }[b];
            }).replaceAll("'", '"').replaceAll("&#x27;", '"').replaceAll('\n', "\\n");
    console.log(novidadesString)
    var novidadesHTML = `<div class="card-header">Lista de Novidades </div>
                            <div class="card-body">`
    const novidades = JSON.parse(novidadesString)
    novidades.forEach(novidade => {
        novidadesHTML += `
                            
                                <div class="novidade">
                                    <div class="titulo text-center">${novidade.titulo}:</div>
                                    <div class="body">${novidade.conteudo}</div>
                                    <hr>
                                </div>`
    });

    novidadesHTML += `</div>`

    novidadesContainer.innerHTML = novidadesHTML
 
</script>

{% endblock %}