
{% extends 'login/layout.html' %}
{% load static %}

{% block head %}
<script src="{% static 'login/react/requisicao-react.js' %}" type="text/babel"></script>
<script src="{% static 'login/js/firebase-database.js' %}" type="text/babel"></script>
<link rel="stylesheet" href="{% static 'login/css/requisicoes.css' %}"></link>
{% endblock %}

{% block body %}



<div class="body-content col-sm-12 col-xl-10 mx-auto">
    <h3>Responder Requisições</h3>
    <main class="h-100">

    </main>
</div>




{% endblock %}

