{% extends 'login/layout.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'login/css/usuario.css'%}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
{% endblock %}

{% block body %}

<div class="row container-fluid container-usuario">
    <div class="col d-flex justify-content-center">
        <img src="{{fotoURL}}" class="foto-usuario" height="150px" width="150px">
    </div>

    

    <form method="POST" class="col-10" id="editar-dados-usuario">
        {% csrf_token %}
        {% for field in form %}
        
            {% for error in field.errors %}
            <div class="error-messages text-danger">
                {{ error }}
            </div> 
            {%endfor%}
            <div class="form-group">
                {{field.label_tag}}
                {{field}}
            </div>
        {% endfor %}
        <div class="row ">
            <div class="col d-flex justify-content-end p-3">
                <button type="submit" class="btn btn-primary">Salvar alterações</button>
            </div>
        </div>
    </form>
</div>

<div class="row container-fluid container-pdf">
    <div class="col-12 matricula-header">
        <h3>Matrícula</h3>
        <hr>
    </div>
    <embed src="{{urlPDF}}" type="application/pdf" height="100%" width="100%" class="pdf">
</div>

<script>
    $('.mask-cpf').mask('000.000.000-00', {reverse: true}) 
</script>
{% if not user.is_superuser %}
    <script src="{% static 'login/js/usuarios-superuser.js'%}"></script>
{% endif %}

{% endblock %}

