{% extends "login/layout.html" %}
{% load static %}
{% load filters %}

{% block head %}
<link rel="stylesheet" href="{% static 'login/css/gerenciar-onibus.css' %}"></link>
{% endblock %}



{% block body %}


<div class="container-fluid content">
    <div class="row card-row">
        <div class="onibus-lista-container col-12 col-sm-5">
            {% for onibus in onibusLista %}
                <div class=" " href="#" onclick='selectOnibus("{{onibus}}")' >
                    
                    <div class="card mb-3 mx-auto" style="max-width: 540px;">
                        <div class="dropdown" id="dropdown-{{onibus.nome|removeSpace}}" >
                            <a class="dropdown-btn" onclick='dropdown("{{onibus.nome|removeSpace}}")'>
                                <i class="fas fa-ellipsis-v menu-aviso"></i>
                            </a>
                            <div class="dropdown-content" id="dropdown-content-{{onibus.nome|removeSpace}}" >
                                <a id='remove-link' onclick="removerOnibus('{{onibus.nome}}')"> Remover </a>
                            </div>
                        </div>
                        <div class="row g-0">
                            <div class="col-md-4 text-center">
                                <img src="https://cdn.kibrispdr.org/data/tayo-the-little-bus-vector-30.jpg" class="img-fluid rounded-start" width="100" height="100">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                
                                    <div class="title">
                                        <h5 class="card-title" style="display: inline-block;">{{onibus.nome}} •</h5>
                                        <small>{{onibus.placa}}</small>
                                        <hr>
                                        <div class="atributo">
                                            <p class="card-text bold-500">Turno padrão:</p> 
                                            <p class="card-text">{{onibus.turnoPadrao}}</p>
                                        </div>
                                        <div class="atributo">
                                            <p class="card-text bold-500">Capacidade:</p> 
                                            <p class="card-text">{{onibus.vagasTotal}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        <div class="row">
                            <div class="horarios col-12 col-sm-12 col-md-6">
                                <h6>Ida</h6>
                                <hr>
                                <div class="atributo">
                                    <p class="card-text bold-500">Saída:</p> 
                                    <p class="card-text">{{onibus.horarioIdaSaida}}</p>
                                </div>
                                <div class="atributo">
                                    <p class="card-text bold-500">Chegada:</p> 
                                    <p class="card-text">{{onibus.horarioIdaChegada}}</p>
                                </div>
                            </div>

                            
                            <div class="horarios col-12 col-sm-12 col-md-6">
                                <h6>Retorno</h6>
                                <hr>
                                <div class="atributo">
                                    <p class="card-text bold-500">Saída:</p> 
                                    <p class="card-text">{{onibus.horarioVoltaSaida}}</p>
                                </div >
                                <div class="atributo">
                                    <p class="card-text bold-500">Chegada:</p> 
                                    <p class="card-text">{{onibus.horarioVoltaChegada}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    
        <form method="POST" class="col-12 col-sm-7 form">
            {% csrf_token %}
            {% for field in form %}
            
                {% for error in field.errors %}
                <div class="error-messages text-danger">
                    {{ error }}
                </div> 
                {%endfor%}
                <div class="form-group">
                    {{field.label_tag}}
                    {{field}}
                </div>
            {% endfor %}
        
            <label for="idaSaida"> Horário de saída do ônibus  (Viagem de ida)</label>
            <div class="input-group clockpicker" data-placement="top" data-align="top" data-autoclose="true">
                <input type="text" class="form-control" name="idaSaida" value="00:00">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-time"></span>
                </span>
            </div>
            <label for="idaChegada"> Horário de chegada ônibus (Viagem de ida) </label>
            <div class="input-group clockpicker" data-placement="top" data-align="top" data-autoclose="true">
                <input type="text" class="form-control" name="idaChegada" value="00:00">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-time"></span>
                </span>
            </div>
            <label for="retornoSaida"> Horário de saída do ônibus (Retorno)</label>
            <div class="input-group clockpicker" data-placement="top" data-align="top" data-autoclose="true">
                <input type="text" class="form-control" name="retornoSaida" value="00:00">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-time"></span>
                </span>
            </div>
            <label for="retornoChegada"> Horário de chegada ônibus (Retorno)</label>
            <div class="input-group clockpicker" data-placement="top" data-align="left" data-autoclose="true">
                <input type="text" class="form-control" name="retornoChegada" value="00:00">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-time"></span>
                </span>
            </div>
        
            <div class="row pt-3">
                <div class="col-6 d-grid">
                    <button id="limpar" type="button" class="btn btn-danger">Limpar</button>
                </div>
                <div class="col-6 d-grid">
                    <button id="adicionar" type="submit" class="btn btn-primary">Adicionar</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    const nome = document.querySelector("input[name='nome']")
    const placa = document.querySelector("input[name='placa']")
    const turno = document.querySelector("select[name='turno']")
    const capacidade = document.querySelector("input[name='capacidade']")
    const idaSaida = document.querySelector("input[name='idaSaida']")
    const idaChegada = document.querySelector("input[name='idaChegada']")
    const retornoSaida = document.querySelector("input[name='retornoSaida']")
    const retornoChegada = document.querySelector("input[name='retornoChegada']")
    const btnAdicionar = document.querySelector("#adicionar")
    const btnLimpar = document.querySelector("#limpar")
    btnLimpar.style.display = "none"
    btnLimpar.onclick = limpar

    function selectOnibus(onibus){
        var onibusString = onibus.replaceAll("\'", "\"")
        var onibus = JSON.parse(onibusString)
        nome.value = onibus.nome
        nome.readOnly = true
        placa.value = onibus.placa
        turno.selected = onibus.turno
        capacidade.value = onibus.vagasTotal
        idaSaida.value = onibus.horarioIdaSaida.replace(" h", "")
        idaChegada.value = onibus.horarioIdaChegada.replace(" h", "")
        retornoSaida.value = onibus.horarioVoltaSaida.replace(" h", "")
        retornoChegada.value = onibus.horarioVoltaChegada.replace(" h", "")
        btnAdicionar.innerHTML = "Editar"
        btnLimpar.style.display = "block"
    }

    function limpar(){
        console.log("limpar")
        nome.value = ""
        nome.readOnly = false
        placa.value = ""
        turno.selected = "matutino"
        capacidade.value = ""
        idaSaida.value = ""
        idaChegada.value = ""
        retornoSaida.value = ""
        retornoChegada.value = ""
        btnLimpar.style.display = "none"
        btnAdicionar.innerHTML = "Adicionar"
    }

    function removerOnibus(nome){
        fetch('onibus/remover', {
            method: 'POST',
            body: JSON.stringify(
                {
                    onibus: nome
                }
            )
        });
    }
   
    function dropdown(onibus){
        var dropdownContent = document.querySelector(`#dropdown-content-${onibus}`)
        dropdownContent.style.display = 'block'
        var dropdown = document.querySelector(`#dropdown-${onibus}`)
        document.addEventListener("click", (event) => {
            var isClickInside = dropdown.contains(event.target)
            if(!isClickInside){
                dropdownContent.style.display = 'none'
            }
        })
       
    }
</script>

<script type="text/javascript">
    $('.clockpicker').clockpicker();
    </script>


{% endblock %}
